<%= form_for(@task_board) do |f| %>
  <% if @task_board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task_board.errors.count, "error") %> prohibited this task_board from being saved:</h2>

      <ul>
      <% @task_board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
            <table>
           <tr>
             <td>人：</td>
             <td><%= f.collection_select(:family_id, Family.all, :id, :name) %>
                <span class="add_family"><%= link_to 'メンバーを追加','../families' %></span>
             </td>
             <td>時間：</td>
             <td colspan="1"><%= f.time_select :tasktime, {include_blank: true} %></td>
             <td></td>
             <td></td>
            </tr>
            <tr>
             <td>メモ：</td>
             <td colspan="3"><%= f.text_area :taskText,  size: "30x1"%></textarea></td>
             <td></td>
             <td></td>
             <td><%= f.submit "作成" %></td>
            </tr>
         </table>
  </div>
<% end %>
