<% content_for :header do %>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <style>
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
 </style>
 <script>
  $(function() {
    $( "#sortable" ).sortable();
$( "#sortable" ).disableSelection();
  });
 </script>
<% end %>

<div id="header">
  <p id="days">10月18日</p>
  <div id="memoArea">
    <p>ここにメモが入ります</p>
  </div>
<!-- end #header --></div>

<div id="mainContent">
 <div id="memos_area">
 　<!--時間の関係あるメモ-->
  <ul  id="sortable">
  <% @task_boards.each do |task_board| %>
  <li class="task">
    <div class="t_icon">
        <!-- icon_p 人　icon_m　めも　icon_t　時計で差し替えが効きます -->
        <img src="<%= asset_path "icon_p.png" %>" />
        <span class="f_user">
        <% if task_board.family_id != nil %>
        	<%= task_board.family.name %>
        <% end %>
        </span>
    </div>
    <div class="f_parts"></div>
    <div class="f_body">
      <div class="f_text">
        <%= task_board.taskText %>
      </div>
      <div class="edit_del">
        <%= link_to '×', task_board, method: :delete, data: { confirm: '削除しますか?' } %>
      </div>
    </div>
  </li>
<% end %>
  </ul>
  
  <!--時間の関係ないメモ-->
  <ul id="memo_noTime">
  	<p>時間の関係ないタスク</p>
    <li class="task"> 
      <div class="f_body">
         <div class="f_text">
            ここにはテキストが入ります。
         </div>
         <div class="edit_del">
          ×
         </div>
      </div>
    </li>
  </ul>
  
 </div>
</div>
<div id="footer">
  <%= render 'form' %>
<!-- end #footer --></div>