<div class="container">
      <div class="masthead">
      	<div class="nav nav-pills pull-right">
          	<%= link_to 'ログアウト', logout_path,  {class:  "btn btn-warning active btn-sm"} %>
        </div>
        <h3 class="muted">ようこそ<%= current_user.name %>さん</h3>
      </div>

      <!-- setting -->
      <div class="jumbotron">
      	<% if !flash[:notice].blank? %>
      		<div class="alert alert-success"><%= flash[:notice] %></div>
        <% elsif !flash[:alert].blank? %>
        	<div class="alert alert-warning"><%= flash[:alert] %></div>
        <% end %>
        <h3>通知の設定：<%= @notify_status %><%= link_to @link_msg,  home_toggle_notify_path,  {class:  "btn btn-primary active  btn-sm pull-right"}  %></h3>
        <br/>
        <h3>薬を飲む時間の登録</h3>
 
		<%= form_tag("/add_notify", method: "get", class: "form-inline") do %> 
　　　<table class="table">
        　<thead>
        　　<tr>
        　　　<th>#</th>
        　　　<th>タイミング</th>
        　　　<th>時間</th>
        　　　<th>編集</th>
        　　</tr>    
<!-- DBデータの表示エリア   -->
        　<tbody>
        	<!-- DBからのデータを繰り返し表示させる列です。 -->
        	<% @time_info.each_with_index do |t, idx| %>
        	<tr>
	     	　<td></td>
	     	　<td><%= t["desc"] %></td>
	     	　<td><%= t["time"] %></td>
	     	　<td>
	     		<a href="/del_notify/<%= idx %>" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-trash"></span> 削除
				</a>
			　</td>
		　</tr>
         <% end %>

            <!-- 登録用のフォームの列です。 -->
            <tr>          
	     	　<td>
	     	</td>
	     	　<td>
	     		<%= text_field_tag 'desc', @desc, placeholder: "例）昼", class: "exampleInputEmail2 form-control" %>
	     	　</td>
	     	　<td id="time_area">
	     		<%= time_select(:time, @time, { :minute_step => 5, :default => { :hour => 12, :minute => 0} }, { :class => 'exampleInputEmail2 form-control' }) %>
	     	　</td>
	     	　<td>
	     	    <!--<%= submit_tag '+ 追加' , class:"btn btn-default btn-lg" %>-->
	     	    <input class="btn btn-default btn-lg" name="commit" type="submit" value="+ 追加" />
	     	　</td>
         　　</tr>
         </tbody>
       </table>
       <% end %>
       <!-- DBからの表示の終了 --> 
       <br/>
       <h3>薬の種類</h3>
        <table class="table">
        	<tr>
       		  <%= form_tag("/modify_medicine_desc", method: "get", class: "form-inline") do %>
       		  <td>
       			<%= text_area_tag 'medicine_desc', @medicine_desc, placeholder: @medicine_desc, class: "exampleInputEmail6 form-control resizable", id:"desc_text" %>
       		  </td>
       	  　　<td>
	           <input class="exampleInputEmail6 btn btn-default btn-lg" id="desc_input" name="commit" type="submit" value="変更" />
	     	 </td>
	     	  <% end %>
       		</tr>
       </table>
       <h3 class="pull-left">薬を取りに行くまでの日数</h3>
       <%= form_tag("/modify_medicine_num", method: "get", class:"form-inline") do %>       
　      　<table class="table">
         	<tr>
	     　 <td></td>
	     　 <td class="text-right"><h4>残り日数</h4></td>
	     　 <td>	     	
		   	  <%= text_field_tag 'medicine_num', @medicine_num, placeholder: @medicine_num, class: "exampleInputEmail2 form-control text-right" %>
              </td>
            <td><h4>日</h4></td>
	     　<td>
	     	<%= submit_tag '設定' , class:"btn btn-default btn-lg" %>
		 　</td>
         </tr> 
         </table>
         <% end %>
         <h3 class="pull-left">お薬服用の履歴</h3> 
         <table class="table">
         		<% if @history.blank? %>
	         		<tr>
	         			<td>まだ履歴はありません。</td>
	         			<td></td>
	         		</tr>
         		<% else %>
	         		<% @history.each do |h| %>
	         		<tr>
	         			<td><h4><%= h.reply_time.strftime("%Y年%m月%d日 %H時%M分ごろ") %> に<%= generate_desc(h.desc) %></h4></td>
	         		</tr>
	         		<% end %>
         		<% end %>
         </table>	
　    </div>
       
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Team Tonika 2014</p>
      </footer>
    </div> <!-- /container -->
</div>