   <div class="container">
      <div class="masthead">
      	<div class="nav nav-pills pull-right">
          	<%= link_to 'ログアウト', logout_path,  {class:  "btn btn-warning active btn-sm"} %>
        </div>
         <h3 class="muted">ようこそ<%= current_user.name %>さん</h3>
      </div>

      <!-- setting -->
      <div class="jumbotron">
        <h3>通知の設定：<%= @notify_status %><%= link_to @link_msg,  home_toggle_notify_path,  {class:  "btn btn-primary active  btn-sm pull-right"}  %></h3>
        <br/>
        <h3>薬を飲む時間の登録</h3>
 
　　　　　<table class="table">
        　<thead>
        　　<tr>
        　　　<th>#</th>
        　　　<th>タイミング</th>
        　　　<th>時間</th>
        　　　<th>編集</th>
        　　</tr>
     
<!-- DBデータの表示エリア   -->
        　<tbody>
        	<!-- DBからのデータを繰り返し表示させる列です。 -->
        	<% @time_info.each_with_index do |t, idx| %>
        	<tr>
	     	　<td></td>
	     	　<td><%= t["desc"] %></td>
	     	　<td><%= t["time"] %></td>
	     	　<td>
	     		<a href="/del_notify/<%= idx %>" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-trash"></span> 削除
				</a>
			　</td>
		</tr>
         <% end %>

            <!-- 登録用のフォームの列です。 -->
            <tr >
           <%= form_tag("/add_notify", method: "get", class: "form-inline") do %>
	     	　<td>
	     	</td>
	     	　<td>
	     		<%= text_field_tag 'desc', @desc, placeholder: "例）昼", class: "exampleInputEmail2 form-control" %>
	     	　</td>
	     	　<td>
	     		<%= text_field_tag 'time', @time, placeholder: "例）15:00", class: "exampleInputEmail2 form-control" %>
	     	　</td>
	     	　<td>
	     	    <!--<%= submit_tag '+ 追加' , class:"btn btn-default btn-lg" %>-->
	     	    <input class="btn btn-default btn-lg" name="commit" type="submit" value="+ 追加" />
	     	　</td>
         　 <% end %>
         　　</tr>
         </tbody>
       </table>
       <!-- DBからの表示の終了 --> 
       <br/>
       
       <h3 class="pull-left">薬を取りに行くまでの日数</h3>
　　　　 <table class="table">
         <tr><%= form_tag("/modify_medicine_num", method: "get", class:"form-inline") do %>
	     　<td></td>
	     　<td>残り日数</td>
	     　<td>
	     	<%= text_field_tag 'mediine_num', @medicine_num, placeholder: @modify_medicine_num, class: "exampleInputEmail2 form-control" %>
           </td>
	     　<td>
	     	<%= submit_tag '設定' , class:"btn btn-default btn-lg" %>
		 　</td>
         <% end %></tr>
      </table>
　    </div>
       
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
</div>