   <div class="container">
      <div class="masthead">
      	<div class="nav nav-pills pull-right">
          	<%= link_to 'ログアウト', logout_path,  {class:  "btn btn-warning active btn-sm"} %>
        </div>
         <h3 class="muted">ようこそ<%= current_user.name %>さん</h3>
      </div>

      <!-- setting -->
      <div class="jumbotron">
        <h3>通知の設定：<%= @notify_status %><%= link_to @link_msg,  home_toggle_notify_path,  {class:  "btn btn-primary active  btn-sm pull-right"}  %></h3>
        <br/>
        <h3>薬を飲む時間の登録</h3>
 
　　　　　<table class="table">
        　<thead>
        　　<tr>
        　　　<th>#</th>
        　　　<th>タイミング</th>
        　　　<th>時間</th>
        　　　<th>編集</th>
        　　</tr>
     
<!-- DBデータの表示エリア   -->
        　<tbody>
        	<!-- DBからのデータを繰り返し表示させる列です。 -->
        	<tr>
	     	　<td></td>
	     	　<td>昼</td>
	     	　<td>３：００</td>
	     	　<td>
	     		<button type="button" class="btn btn-default btn-lg">
				  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 削除
				</button>
			　</td>
         　 </tr>

            <!-- 登録用のフォームの列です。 -->
            <tr >
            <form class="form-inline" role="form"><%= form_tag("/setting", method: "get") do %>
	     	　<td>
	     	</td>
	     	　<td>
	     		<%= text_field_tag 'actName', @actName, placeholder: "例）昼", class: "exampleInputEmail2 form-control" %>
	     	　</td>
	     	　<td>
	     		<%= text_field_tag 'actTime', @actTime, placeholder: "例）15:00", class: "exampleInputEmail2 form-control" %>
	     	　</td>
	     	　<td>
	     	    <%= submit_tag '➕ 追加' , class:"btn btn-default btn-lg" %>
	     	　</td>
         　 <% end %></form>
         　　</tr>
         </tbody>
       </table>
       <!-- DBからの表示の終了 --> 
       <br/>
       
       <h3 class="pull-left">薬を取りに行くまでの日数</h3>
　　　　 <table class="table">
         <tr><%= form_tag("/modify_medicine_num", method: "get", class:"form-inline") do %>
	     　<td></td>
	     　<td>残り日数</td>
	     　<td>
	     	<%= text_field_tag 'mediine_num', @modify_status, placeholder: @modify_medicine_num, class: "exampleInputEmail2 form-control" %>
           </td>
	     　<td>
	     	<%= submit_tag '設定' , class:"btn btn-default btn-lg" %>
		 　</td>
         <% end %></tr>
      </table>
　    </div>
       
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->
</div>