<!DOCTYPE html>
<html>
<head>
  <title>Tasquel</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :header %>
</head>
<body class="oneColLiqCtrHdr">
  <div id="container">
  	
<%= yield %>
 
  <!-- end #container --></div>
</body>
</html>
